* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    font-size: 16px;
    background: #1B2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
  }

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  
  .large-text {
    font-size: 20px;
  }
  

  .small-text {
    font-size: 12px;
  }
  